/*
Descricao: Estilos da Aula 09 - Tipos de estilos, inline, interno e externo, box model
nome_arquivo: estilo.css
nome_exercicio: Atividade 09 - Tipos de estilos, inline, interno e externo, box model
nome_aluno: Enrico Bernardo Carneiro Lelis
email_aluno: enrico.lelis@edu.senai.br
turma: TDE-1BAA-26
*/

.card {
    width: 300px;
    /* largura do texto */
    height: 150px;
    /* altura do texto */
    padding: 20px;
    /* espaço interno do texto */
    border: 1px solid #ccc;
    /* borda do card */
    margin: 10px auto;
    /* margem do card */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* O padrão do box-shadow é direita, baixo, desfoque, cor */
}

.secao {
    width: 600px;
    height: 150px;
    padding: 20px;
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
    background-color: #e0e0e0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}